/Front.Vue/node_modules
/Backend.Net/NetCore4Vue.Web/bin
/Backend.Net/NetCore4Vue.WebApi/bin
/Backend.Net/NetCore4Vue.WebApi/Download/ExcelExport
/Backend.Net/NetCore4Vue.WebApi/Download/Logger
/Backend.Net/NetCore4Vue.WebApi/Download/SqlLog
/Backend.Net/NetCore4Vue.WebApi/obj
/Backend.Net/.vs
/Backend.Net/NetCore4Vue.Entity/bin
/Backend.Net/NetCore4Vue.Entity/obj
/Backend.Net/NetCore4Vue.AppManager/bin
/Backend.Net/NetCore4Vue.AppManager/obj
/Backend.Net/NetCore4Vue.Builder/obj
/Backend.Net/NetCore4Vue.Builder/bin
/Backend.Net/NetCore4Vue.Core/obj
/Backend.Net/NetCore4Vue.Core/bin
/Backend.Net/NetCore4Vue.Order/obj
/Backend.Net/NetCore4Vue.Order/bin
/Backend.Net/NetCore4Vue.System/obj
/Backend.Net/NetCore4Vue.System/bin
/Backend.Net/NetCore4Vue.Web/obj
/Backend.Net/NetCore4Vue.WebApi/Download/*
/Front.Vue/dist
/Backend.Net/NetCore4Vue.WebApi/wwwroot/Upload/
/Backend.Net/NetCore4Vue.Web
